#!/bin/sh

# Sets and enables heart (recommended only in daemon mode)
# case $RELEASE_COMMAND in
#   daemon*)
#     HEART_COMMAND="$RELEASE_ROOT/bin/$RELEASE_NAME $RELEASE_COMMAND"
#     export HEART_COMMAND
#     export ELIXIR_ERL_OPTIONS="-heart"
#     ;;
#   *)
#     ;;
# esac

# Set the release to work across nodes. If using the long name format like
# the one below (my_app@127.0.0.1), you need to also uncomment the
# RELEASE_DISTRIBUTION variable below. Must be "sname", "name" or "none".
# export RELEASE_DISTRIBUTION=name
# export RELEASE_NODE=<%= @release.name %>@127.0.0.1

export RELEASE_DISTRIBUTION=name
export RELEASE_NODE=client@sandbox.internal
export RELEASE_COOKIE=74894931038207d78142338bfc5d96d853760872aa5b7406

export APP_VERSION=<%= Mix.Project.config()[:version] %>

export CONFIGURATION_HOST=http://configuration-service:18940
export IDENTITY_HOST=http://identity-service:18920
export MOBILE_API_PORT=24998

export CONFIGURATION_APIKEY=59c62b5c146fe8f15ed8905684b12d35
export IDENTITY_APIKEY=d210a04840302e55a68e9f994a3ab2e4
export MOBILE_APIKEY=e566114a3aed6c332a4bf8aefb4d0fea
